@import '../../Sass/variables.scss';

.Projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #101010;
    .project-title{
        position: absolute;
        margin-top: -10px;
        font-size: 9rem;
        opacity: 0.03;
        color:#fff;
    }
    .project-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        color: #fff;
        margin-top: 140px;
        .subtitle-projects{
            font-size: 2.5rem;
            margin-top: -70px;
        }
      
        .images-container{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 60px;
            .up-container{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
            }
            .down-container{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
            }
            .img-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                transition: 0.4s;
            }
            .img-container:hover{
                cursor: pointer;
                .image-project{
                    cursor: pointer;
                    filter: none;
                }
                .down-text-img{
                    color: $second-aux;
                    cursor: pointer;
                }
            }
            .image-project{
                width: 500px;
                height: 350px;
                // margin-bottom: 60px;
                filter: grayscale(0.9);
                transition: 0.7s;
            }
            .image-project:hover{
                cursor: pointer;
                filter: none;
            }
            .down-text-img{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                margin-bottom: 50px;
                letter-spacing: 2px;
                width: 70%;
            }
        }
    }
}






@media (max-width: 1194px){
    .Projects{
        height: auto;
        .project-container{
            .images-container{
                .up-container{
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
                .down-container{
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
                .image-project{
                    width: 650px;
                    height: 450px;
                    filter: none;
                }
                .down-text-img{
                    justify-content: space-evenly;
                    align-items: center;
                    width: 70%;
                }
                .img-container{
                    align-items: center;
                }
            }
        }
    }
}



@media (max-width: 460px){
    .Projects{
        .project-title{
            font-size: 4rem;
            margin-top: 25px;
            opacity: 0.2;
        }
        .project-container{
            .subtitle-projects{
                font-size: 1.3rem;
            }
            .images-container{
                margin-top: 20px;
                .image-project{
                    width: 100vw;
                    height: 38vh;
                }
                .down-text-img{
                    width: 90%;
                }
            }
        }
    }
}



@media (max-width: 360px){
    .Projects{
        .project-title{
            font-size: 3.2rem;
        }
        .project-container{
            .subtitle-projects{
                margin-top: -15px;
                font-size: 1rem;
            }
            .images-container{
                .down-text-img{
                    width: 95%;
                }

            }
        }
    }
}