.Projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #101010;
}

.Projects .project-title {
  position: absolute;
  margin-top: -10px;
  font-size: 9rem;
  opacity: 0.03;
  color: #fff;
}

.Projects .project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  color: #fff;
  margin-top: 140px;
}

.Projects .project-container .subtitle-projects {
  font-size: 2.5rem;
  margin-top: -70px;
}

.Projects .project-container .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
  margin-top: 60px;
}

.Projects .project-container .images-container .up-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Projects .project-container .images-container .down-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.Projects .project-container .images-container .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Projects .project-container .images-container .img-container:hover {
  cursor: pointer;
}

.Projects .project-container .images-container .img-container:hover .image-project {
  cursor: pointer;
  -webkit-filter: none;
          filter: none;
}

.Projects .project-container .images-container .img-container:hover .down-text-img {
  color: #3DD0CE;
  cursor: pointer;
}

.Projects .project-container .images-container .image-project {
  width: 500px;
  height: 350px;
  -webkit-filter: grayscale(0.9);
          filter: grayscale(0.9);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.Projects .project-container .images-container .image-project:hover {
  cursor: pointer;
  -webkit-filter: none;
          filter: none;
}

.Projects .project-container .images-container .down-text-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  letter-spacing: 2px;
  width: 70%;
}

.Projects .project-container .link-project-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 35px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Projects .project-container .link-project-home:hover {
  background-color: #3DD0CE;
  color: #101010;
  border: 1px solid #101010;
}

@media (max-width: 1024px) {
  .Projects {
    height: auto;
  }
  .Projects .project-container .images-container .up-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Projects .project-container .images-container .down-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Projects .project-container .images-container .image-project {
    width: 650px;
    height: 450px;
    -webkit-filter: none;
            filter: none;
  }
  .Projects .project-container .images-container .down-text-img {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
  .Projects .project-container .images-container .img-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 460px) {
  .Projects .project-title {
    display: none;
  }
  .Projects .project-container .subtitle-projects {
    font-size: 1.3rem;
  }
  .Projects .project-container .images-container {
    margin-top: 20px;
  }
  .Projects .project-container .images-container .image-project {
    width: 100vw;
    height: 38vh;
  }
  .Projects .project-container .images-container .down-text-img {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .Projects .project-title {
    display: none;
  }
  .Projects .project-container .subtitle-projects {
    margin-top: -80px;
    font-size: 1.2rem;
  }
  .Projects .project-container .images-container .down-text-img {
    width: 95%;
  }
}
/*# sourceMappingURL=Style.css.map */