@import '../../Sass/variables.scss';

.Cover{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    .video-cover{
        position: absolute;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100vh;
        margin-top: 130px;
        .text-arch{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $primary-color;
            width: 710px;
            height: 150px;
            font-size: 6rem;
            .studio{
                letter-spacing: 10px;
            }
            .punto{
                font-size: 3.5rem;
            }
        }
        .subtitle{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            color: $primary-color;
            font-weight: 700;
            width: 450px;
            height: 50px;
            border-bottom: 1px solid $primary-color;
            margin-top: -3px;
            margin-left: -260px;
            letter-spacing: 2px;
            .architecture{
                color: #3DD0CE;
            }
        }
    }
    .socials-container{
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        margin-bottom: 3rem;
        margin-right: 8rem;
        .social-links{
            text-decoration: none;
            color: $primary-color;
            .instagram{
                transition: 0.4s;
            }
            .instagram:hover{
                color: $second-aux;
                transform: scale(1.1, 1.1);
            }
            .behance{
                transition: 0.4s;
            }
            .behance:hover{
                color: $second-aux;
                transform: scale(1.1, 1.1);
            }
        }
    }
}





@media (max-width: 1024px){
    .Cover{
        width: 100vw;
        .text-container{
            margin-top: 300px;
        }
    }
}



@media (max-width: 460px){
    .Cover{
        .text-container{
            margin-top: 150px;
            .text-arch{
                width: 75vw;
                font-size: 2.5rem;
                .punto{
                    font-size: 1.5rem;
                }
                .studio{
                    letter-spacing: 3px;
                }
            }
            .subtitle{
                width: 80vw;
                font-size: 1.5rem;
                margin-left: 0px;
                margin-top: -60px;
            }
        }
    }
}


@media (max-width: 360px){
    .Cover{
        .text-container{
            margin-top: 80px;
            .text-arch{
                width: 90vw;
            }
            .subtitle{
                width: 90vw;
                font-size: 1.2rem;
                margin-top: -80px;
            }
        }
        .socials-container{
            width: 90vw;
            margin-right: 10px;
            justify-content: space-around;
        }
    }
}