@import '../../Sass/variables.scss';

.Header{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
    padding: 20px 0;
    .logo{
        width: 100px;
        height: 80px;
        margin-left: 70px;
    }
    .links-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: 600;
        margin-right: 70px;
        .links{
            text-decoration: none;
            padding-bottom: 10px;
            transition: 0.4s;
            color: $primary-color;
        }
        .links:hover{
            // border-bottom: 2px solid $secundary-color;
            color: $second-aux;
        }
        .dark-links{
            text-decoration: none;
            padding-bottom: 10px;
            transition: 0.4s;
            color: #000;
        }
        .dark-links:hover{
            // border-bottom: 2px solid $secundary-color;
            color: $second-aux;
        }
    }
}